<div class="container">
  <form action="" (ngSubmit)="submit(form)" #form="ngForm">
      <div class="">
          <label for="text">Enter text to summarize:</label>
          <textarea name="text" id="text" [(ngModel)]="text" required></textarea>
      </div>
      <div class="btn">
          <button type="submit" class="btn btn-primary">
              {{ isLoading ? 'Summarizing...' : 'Summarize' }}
          </button>
          <button type="button" (click)="reset()">Reset</button>
      </div>
  </form>
</div>
<div class="container">
    <div class="summary" *ngIf="summary">
        <h2 class="text-bold">Summary</h2>
        <p>{{ summary }}</p>
      </div>
      <div *ngIf="isLoading" class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
</div>
