<nav class="navbar navbar-expand navbar-gradient bg-dark" data-bs-theme="dark" >
    <div class="container">
      <a class="navbar-brand" href="#">Text Summarizer</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link "  routerLink="home" routerLinkActive="active">
              <span class=" ">Home</span>
            </a>
        </li>
        <li class="nav-item" routerLink="about">
            <a class="nav-link" >About</a>
        </li>
    </ul>
    </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>